.card{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    margin-bottom: 40px;
    cursor: pointer;
}
.cardHeading{
    width: 100%;
    color: #000229;
    font-size: 0.8rem;

}
.cardPara{
    width: 100%;
    color: #000229;
    font-size: 0.8rem;
}